BACKEND_PORT=8080
SERVER_NAME=dragonite.com


DRAGONITE_DB_USERNAME=
DRAGONITE_DB_PASSWORD=
DRAGONITE_DB_DATABASE=
DRAGONITE_DB_HOST=
DRAGONITE_DB_PORT=5432
DRAGONITE_DB_SCHEMA=

JWT_SECRET_KEY=
